server:
  port: 9001

spring:
  application:
    name: auth-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
#    driverClassName: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect
  # h2:
  #   console:
  #     enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

# Custom JWT Config
jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000 # 1 hour
