server:
  port: 9002

spring:
  application:
    name: book-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    security:
#      oauth2:
#        resourceserver:
#          jwt:
#            jwk-set-uri: http://localhost:9000/.well-known/jwks.json

# Custom JWT Config (Shared with AuthService)
jwt:
  secret: ${JWT_SECRET}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
